body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-image: url('slika/pozadina1.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    text-align: center;
}

header {
    text-shadow:2px 2px 2px black;
    background-color:lightblue;
    padding: 15px;
    font-weight: bold;
}

    header a {
        color: white;
        text-decoration: none;
        margin: 0 15px;
    }

        header a:hover {
            text-decoration: underline;
        }

h1 {
    margin-top: 100px;
    font-size: 40px;
    text-shadow: 2px 2px 6px black;
}

.box1 {
    text-align:center;
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 0px 60px;
    border-radius: 10px;
    margin-top: 30px;
}

.box {
    background-color: rgba(0, 0, 0, 0.6);
    display: inline-block;
    padding: 20px 40px;
    border-radius: 10px;
    margin-top: 30px;
}

footer {
    background-color: lightblue;
    color: white;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size: 14px;
}


.grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.kartica {
    background: rgba(0, 0, 0, 0.6);
    color: white;
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    transition: 0.3s;
}

    .kartica:hover {
        background: rgba(0, 0, 0, 0.8);
        transform: scale(1.03);
    }
.dugme {
    display: inline-block;
    background-color: #007bff; /* plava boja */
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    text-align:center;
}

.dugme:hover {
    background-color: #0056b3; /* tamnija plava kad pređeš mišem */
}